h1{
    text-align: center;
    color: darkblue;
    font-weight: bold;
    
   }

   button{
       border-radius: 20px;
       background-color: royalblue;
       color: azure;
       height: 40px;
       margin:30px;
   }
   .somestyle{

    
    background-color: lightgrey;

   }